.accueil_stats{
    display: flex;
    justify-content: space-around;
    
}

.card-text{
    font-size: 30px;
}

.formProduct{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around
    
}

